/bootstrap/compiled.php
/vendor
/public/uploads
/public/packages
composer.phar
composer.lock
.DS_Store
Thumbs.db
.env.*
/node_modules
asset_manifest.json
/public/js/scripts-*.js
/public/css/styles-*.css
