/* Move down content because we have a fixed navbar that is 50px tall */
html, body{
  height: 100%;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #ccc;
}

#wrap{
  min-height: 100%;
  height: auto;
  margin: 20px auto -80px;
  padding: 0 0 80px;
}

.navbar-inverse .nav>li>a.current{
	background-color: #e7e7e7;
	color: #555;
}

.selected{
	color: silver;
}

/* ScrollUp Style */
#scrollUp {
    background-image: url("../img/returntop.png");
    bottom: 20px;
    right: 20px;
    width: 50px;    /* Width of image */
    height: 66px;   /* Height of image */
}

.box{
  background-color: #fff;
  padding: 10px;
  margin: 0 0 20px;
  border-radius: 3px;
  box-shadow: 0 .2em 0 0 #ddd,0 0 0 1px #ddd;
}
.users-show .avatar{
  text-align: center;
}
.users-show .avatar a{
  position: relative;
  display: inline-block;
}
.users-show .avatar a span{
  position: absolute;
  bottom: 16px;
  left: 0;
  margin: 0 5px;
  width: 96%;
  background-color: #000;
  color: #fff;
  height: 25px;
  line-height: 25px;
  border-radius: 0 0 4px 4px;
}
.users-show .dl-horizontal dt{
  width: 50px;
  white-space: 50px;
  font-weight: 400;
  color: #999;
  float: left;
}
.users-show .dl-horizontal dd{
  margin-left: 58px;
}
.users-show dl dd,.user-show dl dt{
  font-size: 13px;
  line-height: 150%;
  border-bottom: 1px dashed #eee;
}

/** 登录所需页面样式 */
.login_require{
  width: 360px;
  margin: 20px auto 0 auto;
}
.login_require .panel-heading{
  background-color: #3d9970;
  box-shadow: inset 0px -3px 0px rgba(0,0,0,0.2);
  padding: 20px 10px;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  color: #fff;
}
.login_require .panel-body{
  padding: 0;
}
.login_require .body, .login_require .footer{
  padding: 10px 20px;
  background-color: #fff;
  color: #444;
}
.login_require .bg-gray{
  background-color: #eaeaec !important;
}
.login_require .btn.btn-block{
  font-size: 15px;
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
}
.login_require .bg-olive{
  background-color: #3d9970 !important;
}
.vote.active{
  background-color: #698ebf;
  color: #fff;
  border: 1px solid #e7e7e7;
}
.pinSink.active{
  color:#ce8a81;
}


/** Sidebar component CSS*/

.dl-horizontal dt{
  text-align: center;
  float: none;
  width: auto;
}
.dl-horizontal dd{
  margin-left: 0px;
}

.topiclist.panel-default>.panel-heading {
  background-color: #fff;
}


.hide{
  display: none;
}