/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #ccc;
}

.navbar-inverse .nav>li>a.current{
	background-color: #e7e7e7;
	color: #555;
}

.selected{
	color: silver;
}
